import importlib
import os
import mlflow
import argparse
from pathlib import Path
from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.dbutils import DBUtils

from loguru import logger

from {{ project }}.common.utils.config_utils import (
    load_project_config,
    load_task_config
)
from {{ project }}.common.utils.notify_utils import send_gchat_failure


def load_class(class_path: str):
    module_path, class_name = class_path.split(":")
    module = importlib.import_module(module_path)
    return getattr(module, class_name)


def set_mlflow_experiment(
    root_path,
    stage_name,
    experiment_name
):
    experiment_name = f"{root_path}/{stage_name}/experiments/{experiment_name}"
    experiment_path = Path(f"{root_path}/{stage_name}/experiments")
    experiment_path.mkdir(parents=True, exist_ok=True)

    experiment = mlflow.get_experiment_by_name(experiment_name)
    if experiment is None:
        experiment_id = mlflow.create_experiment(experiment_name)
        logger.info(
            f"Created MLflow experiment '{experiment_name}' (ID={experiment_id})"
        )
    else:
        experiment_id = experiment.experiment_id
        logger.info(
            f"Found existing MLflow experiment: {experiment_name} (ID={experiment_id})"
        )

    return experiment_id


def main(spark):
    parser = argparse.ArgumentParser()

    parser.add_argument("--root_path", required=True)
    parser.add_argument("--runtime_env", required=True)
    parser.add_argument("--yml_task", required=True)
    parser.add_argument("--project_name", required=True)
    parser.add_argument("--model_name", required=True)
    parser.add_argument("--stage_name", required=True)
    parser.add_argument("--task_key", required=True)
    parser.add_argument("--task_run_id", required=True)
    parser.add_argument("--job_name", required=True)
    parser.add_argument("--job_id", required=True)
    parser.add_argument("--job_run_id", required=True)

    args = parser.parse_args()
    root_path = args.root_path
    runtime_env = args.runtime_env.lower()
    yml_task = args.yml_task
    project_name = args.project_name
    model_name = args.model_name
    stage_name = args.stage_name
    task_key = args.task_key
    task_run_id = args.task_run_id
    job_name = args.job_name
    job_id = args.job_id
    job_run_id = args.job_run_id

    # load config from TOML based on runtime_env
    env_context = load_project_config(
        project_name=project_name, env_name=runtime_env
    )
    if not env_context:
        raise ValueError(f"Environment '{runtime_env}' not found in config.toml")

    # load and render task YAML
    task_config = load_task_config(
        project_name=project_name, model_name=model_name, stage_name=stage_name, env_context=env_context, which_file=yml_task
    )
    actions_config = task_config.get("actions", [])

    formatted_string = datetime.now().strftime("%Y_%m_%d_%H_%M_%S")
    experiment_name = f'MLOps_{task_config["mlflow_experiment_name"]}_{stage_name}_{runtime_env}_{formatted_string}'

    # Create or set MLflow experiment
    experiment_id = set_mlflow_experiment(
        root_path=root_path, stage_name=stage_name, experiment_name=experiment_name
    )

    for aconf in actions_config:
        action_name = aconf["name"]
        func_conf = aconf["functions"]
        cls = load_class(func_conf["class_path"])

        logger.info(f"Starting action: {action_name}")

        start_time = datetime.now()
        run_status = ""
        error_details = ""

        workspace_url = env_context["WORKSPACE_URL"].rstrip("/")
        run_url = f"{workspace_url}/#job/{job_id}/run/{job_run_id}"
        env_name_notify = runtime_env.upper()

        try:
            # assumes 'spark' is provided by Databricks environment
            result = cls(spark=spark, func_conf=func_conf)
            run_status = "SUCCESS"
        except Exception as e:
            run_status = "FAILED"
            error_details = str(e)[:500]
            logger.error(f"Action failed: {action_name}")
            send_gchat_failure(
                webhook_url=env_context["WEBHOOK_URL"],
                environment=env_name_notify,
                project=project_name,
                task=task_key,
                job_name=job_name,
                error_message=error_details,
                run_url=run_url
            )
        finally:
            end_time = datetime.now()
            duration_minutes = round((end_time - start_time).total_seconds() / 60, 2)

            logger.success(f"Started the setup for {stage_name}; {project_name}")
    
    return experiment_id


if __name__ == "__main__":
    spark = SparkSession.builder.getOrCreate()
    dbutils = DBUtils(spark)

    experiment_id = main(spark=spark)
    dbutils.jobs.taskValues.set(key="experiment_id", value=experiment_id)
