# change as per the requirement

version: '1.0'
stage: training
file: splitter.yml # same as current filename; do not change this
audit_table: "{% raw %}{{ env.AUDIT_TARGET_CATALOG }}.{{ env.AUDIT_TARGET_SCHEMA }}.{{ env.AUDIT_TARGET_TABLE }}{% endraw %}"
actions:
  - name: train_test_split
    enable: true
    functions:
      class_path: {{ project }}.common.data.data_splitter:DataOperations
      kwargs:
        project_name: {{ project }}
        process_name: {{ model }}_data_split
        source_data_type: databricks_table
        target_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            # features:
            #   # multiple feature data can be added
            #   {{ dataset_keyword }}:
            #     data: /data/featurization/{{ dataset_keyword }}.csv
            # merge:
            #   how: inner # inner/outer/left/right
            #   merge_on: <merge_key>
            # split:
            #   test_size: 0.2
            #   random_state: 42
            #   stratify: <target>
            pipeline:
          databricks_table:
            features:
              # multiple feature data can be added
              {{ dataset_keyword }}:
                feature_run_name: {{ dataset_keyword }}_featurization
                feature_table: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.{{ dataset_keyword }}_features"
            merge:
              how: inner
              merge_on: <merge_key> # change as per the requirement; currently supports only one merge key
            split:
              test_size: 0.2
              random_state: 42
              stratify: <target> # change as per the requirement; currently supports only one column for stratification
        outputs:
          # currently supports file/databricks_table
          file:
            merged: /data/training/merged_features.csv
            train: /data/training/train.csv
            test: /data/training/test.csv
            pipeline:
          databricks_table: