# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

.copier-answers.yml

.databricks/
.vscode/

# Ignore Python bytecode cache directories
*/__pycache__/

# Ignore compiled Python files
*.py[cod]

# Ignore egg-info directories and files
*.egg-info/
**/*.egg-info/

*build/
dist/
.venv/
backend/*.whl

.env