bundle:
  name: {{ project }}

artifacts:
  {{ project }}:
    type: whl
    build: uv build
    path: .

variables:
  mlops_project_library:
    default: ./dist/{{ project }}-1.0.0-py3-none-any.whl

  data_science_project_library:
    default: ./ds_backend/*.whl
  
  run_time_env:
    default: dev
    description: run_time_env argument to workflow

  project_file_root_path:
    default: ${workspace.file_path}/src

  spark_version:
    default: 15.4.x-scala2.12

  node_type_id:
    default: Standard_D8a_v4

  min_workers:
    default: 1

  max_workers:
    default: 2

include:
  - workflow_jobs/wf*.yml

sync:
  exclude:
    - .venv/**
    - build/**
    - "**/*.egg-info/**"

targets:
  dev:
    mode: development
    default: true
    workspace:
      host: {{ dev_host }}
      root_path: /Workspace/Users/{{ author_email }}/.bundle/${bundle.name}/${bundle.target}
    variables:
      run_time_env: dev

  qa:
    mode: production
    default: false
    workspace:
      host: {{ qa_host if qa_host else dev_host }}
      root_path: /Workspace/Users/{{ author_email }}/.bundle/${bundle.name}/${bundle.target}
    variables:
      run_time_env: qa

  prod:
    mode: production
    default: false
    workspace:
      host: {{ prod_host if prod_host else dev_host }}
      root_path: /Workspace/Users/{{ author_email }}/.bundle/${bundle.name}/${bundle.target}
    variables:
      run_time_env: prod
