# change as per the requirement

version: '1.0'
stage: training
file: train.yml # same as current filename; do not change this
audit_table: "{% raw %}{{ env.AUDIT_TARGET_CATALOG }}.{{ env.AUDIT_TARGET_SCHEMA }}.{{ env.AUDIT_TARGET_TABLE }}{% endraw %}"
actions:
  - name: hyperparameter_tuning
    enable: true
    functions:
      class_path: {{ ds_project }}.models.{{ model }}.training.hypertuning.tuner:HyperparameterTuner
      kwargs:
        project_name: {{ project }}
        process_name: {{ model }}_hypertuning
        source_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            train:
              data: /data/training/train.csv
            test:
              data: /data/training/test.csv
            pipeline:
          databricks_table:
  
  - name: model_evaluation
    enable: true
    functions:
      class_path: {{ ds_project }}.models.{{ model }}.training.evaluation.selector:ModelEvaluator
      kwargs:
        project_name: {{ project }}
        process_name: {{ model }}_evaluation
        source_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            train:
              data: /data/training/train.csv
            test:
              data: /data/training/test.csv
            pipeline:
          databricks_table:
  
  - name: model_training
    enable: true
    functions:
      class_path: {{ ds_project }}.models.{{ model }}.training.train:ModelTrainer
      kwargs:
        project_name: {{ project }}
        process_name: {{ model }}_training
        source_data_type: file
        model_registry_name: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.{{ model }}"
        inputs:
          # currently supports file/databricks_table
          file:
            train:
              data: /data/training/train.csv
            test:
              data: /data/training/test.csv
            pipeline:
          databricks_table:
  
  - name: log_experiment_details
    enable: true
    functions:
      class_path: {{ project }}.common.utils.io_utils:log_experiment_details
      kwargs:
        project_name: {{ project }}
        process_name: {{ model }}_logging
        outputs:
          # currently supports databricks_table
          databricks_table: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.experiment_tracking"