# change as per the requirement

version: '1.0'
stage: training
file: train.yml # same as current filename; do not change this
audit_table: "{% raw %}{{ env.AUDIT_TARGET_CATALOG }}.{{ env.AUDIT_TARGET_SCHEMA }}.{{ env.AUDIT_TARGET_TABLE }}{% endraw %}"
actions:
  - name: train_test_split
    enable: true
    functions:
      class_path: <mlops_module_file_path>
      kwargs:
        project_name: {{ project }}
        model_name: {{ model }}
        process_name: {{ model }}_data_split
        source_data_type: databricks_table
        target_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            # features:
            #   # multiple feature data can be added
            #   data1:
            #     data: /data/featurization/data1.csv
            #   data2:
            #     data: /data/featurization/data2.csv
            # merge:
            #   how: inner # inner/outer/left/right
            #   merge_on: <merge_key>
            # split:
            #   test_size: 0.2
            #   random_state: 42
            #   stratify: <target>
            pipeline:
          databricks_table:
            features:
              # multiple feature data can be added
              <data1>:
                feature_run_name: <data1>_featurization
                feature_table: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.<table>"
              <data2>:
                feature_run_name: <data2>_featurization
                feature_table: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.<table>"
            merge:
              how: inner
              merge_on: <merge_key>
            split:
              test_size: 0.2
              random_state: 42
              stratify: <target>
        outputs:
          # currently supports file/databricks_table
          file:
            merged: /data/training/merged_features.csv
            train: /data/training/train.csv
            test: /data/training/test.csv
            pipeline:
          databricks_table:
  
  - name: hyperparameter_tuning
    enable: true
    functions:
      class_path: <data_science_module_file_path>
      kwargs:
        project_name: {{ project }}
        model_name: {{ model }}
        process_name: {{ model }}_hypertuning
        source_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            train:
              data: /data/training/train.csv
            test:
              data: /data/training/test.csv
            pipeline:
          databricks_table:
  
  - name: model_evaluation
    enable: true
    functions:
      class_path: <data_science_module_file_path>
      kwargs:
        project_name: {{ project }}
        model_name: {{ model }}
        process_name: {{ model }}_evaluation
        source_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            train:
              data: /data/training/train.csv
            test:
              data: /data/training/test.csv
            pipeline:
          databricks_table:
  
  - name: model_training
    enable: true
    functions:
      class_path: <data_science_module_file_path>
      kwargs:
        project_name: {{ project }}
        model_name: {{ model }}
        process_name: {{ model }}_training
        source_data_type: file
        model_registry_name: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.{{ model }}"
        inputs:
          # currently supports file/databricks_table
          file:
            train:
              data: /data/training/train.csv
            test:
              data: /data/training/test.csv
            pipeline:
          databricks_table: