resources:
  jobs:
    training:
      name: mlops_{{ project }}_training
      tags:
        project_name: "{{ project }}"

      environments:
        - environment_key: default
          spec:
            client: "3"
            dependencies:
              - "../../${var.data_science_project_library}"
              - "../../${var.mlops_project_library}"
      
      tasks:
        - task_key: start_setup
          environment_key: default
          spark_python_task:
            python_file: "../../scripts/start_setup.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "start.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "none"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
        
        - task_key: extract_data
          depends_on:
            - task_key: start_setup
          environment_key: default
          spark_python_task:
            python_file: "../../scripts/data_extraction.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "data.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "none"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
              - --experiment_id
              - '{% raw %}{{tasks.start_setup.values.experiment_id}}{% endraw %}'
        
        - task_key: preprocess_data
          depends_on:
            - task_key: extract_data
          environment_key: default
          spark_python_task:
            python_file: "../../scripts/data_preprocessing.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "preprocess.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "none"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
              - --experiment_id
              - '{% raw %}{{tasks.extract_data.values.experiment_id}}{% endraw %}'
        
        - task_key: featurize_data
          depends_on:
            - task_key: preprocess_data
          environment_key: default
          spark_python_task:
            python_file: "../../scripts/data_featurization.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "featurization.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "none"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
              - --experiment_id
              - '{% raw %}{{tasks.preprocess_data.values.experiment_id}}{% endraw %}'
        
        - task_key: split_data
          depends_on:
            - task_key: featurize_data
          environment_key: default
          spark_python_task:
            python_file: "../scripts/train.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "splitter.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "none"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
              - --experiment_id
              - '{% raw %}{{tasks.featurize_data.values.experiment_id}}{% endraw %}'

        - task_key: {{ model }}_training
          depends_on:
            - task_key: split_data
          environment_key: default
          spark_python_task:
            python_file: "../../scripts/train.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "train.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "{{ model }}"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
              - --experiment_id
              - '{% raw %}{{tasks.split_data.values.experiment_id}}{% endraw %}'

        - task_key: end_setup
          depends_on:
            - task_key: {{ model }}_training
          environment_key: default
          spark_python_task:
            python_file: "../../scripts/end_setup.py"
            parameters:
              - "--root_path"
              - ${workspace.root_path}
              - --runtime_env
              - "${var.run_time_env}"
              - --yml_task
              - "end.yml"
              - --project_name
              - "{{ project }}"
              - --model_name
              - "none"
              - --stage_name
              - "training"
              - --task_key
              - '{% raw %}{{task.name}}{% endraw %}' # do not change this
              - --task_run_id
              - '{% raw %}{{task.run_id}}{% endraw %}' # do not change this
              - --job_name
              - '{% raw %}{{job.name}}{% endraw %}' # do not change this
              - --job_id
              - '{% raw %}{{job.id}}{% endraw %}' # do not change this
              - --job_run_id
              - '{% raw %}{{job.run_id}}{% endraw %}' # do not change this
              - --experiment_id
              - 'none'