# change as per the requirement

version: '1.0'
stage: inference
file: prepare_input.yml # same as current filename; do not change this
audit_table: "{% raw %}{{ env.AUDIT_TARGET_CATALOG }}.{{ env.AUDIT_TARGET_SCHEMA }}.{{ env.AUDIT_TARGET_TABLE }}{% endraw %}"
actions:
  - name: prepare_input_data
    enable: true
    functions:
      class_path: {{ project }}.common.data.data_splitter:DataOperations
      kwargs:
        project_name: {{ project }}
        process_name: {{ model }}_data_preparation
        source_data_type: databricks_table
        target_data_type: file
        inputs:
          # currently supports file/databricks_table
          file:
            # features:
            #   # multiple feature data can be added
            #   {{ dataset_keyword }}_features:
            #     data: /data/featurization/{{ dataset_keyword }}.csv
            # merge:
            #   how: inner # inner/outer/left/right
            #   merge_on: <merge_key>
            pipeline:
          databricks_table:
            features:
              # multiple feature data can be added
              {{ dataset_keyword }}:
                feature_run_name: {{ dataset_keyword }}_featurization
                feature_table: "{% raw %}{{ env.MODEL_CATALOG_SCHEMA }}{% endraw %}.{{ dataset_keyword }}_incoming_features"
            merge:
              how: inner # inner/outer/left/right
              merge_on: <merge_key>
        outputs:
          # currently supports file/databricks_table
          file:
            data: /data/input_preparation/merged_input.csv
            pipeline:
          databricks_table: