# =============================================================================
# USAGE
# =============================================================================
# This file contains environment-specific variables for data pipeline configuration.
# Use these variables in your Jinja2-templatized YAMLs or Python code.

# -----------------------------------------------------------------------------
# HOW TO LOAD IN PYTHON
# -----------------------------------------------------------------------------
#   import toml
#   env_name = "dev"
#   config = toml.load("env.toml")
#   env = config[env_name]
#   print(env["<key_name>"])

# -----------------------------------------------------------------------------
# BEST PRACTICE
# -----------------------------------------------------------------------------
#   - Ensure that all environments (dev, qa, prod) use the **same set of variable names**.
#   - This allows templates and code to remain generic and environment-agnostic.

# =============================================================================
# ENVIRONMENTS
# =============================================================================

[dev]
VOLUMES_ROOT_PATH = ""
AUDIT_TARGET_CATALOG = ""
AUDIT_TARGET_SCHEMA = "default"
AUDIT_TARGET_TABLE = "mlops_{{project}}_audit_tbl"
MODEL_CATALOG = ""
MODEL_SCHEMA = ""
MODEL_CATALOG_SCHEMA = ""

[qa]
VOLUMES_ROOT_PATH = ""
AUDIT_TARGET_CATALOG = ""
AUDIT_TARGET_SCHEMA = "default"
AUDIT_TARGET_TABLE = "mlops_{{project}}_audit_tbl"
MODEL_CATALOG = ""
MODEL_SCHEMA = ""
MODEL_CATALOG_SCHEMA = ""

[prod]
VOLUMES_ROOT_PATH = ""
AUDIT_TARGET_CATALOG = ""
AUDIT_TARGET_SCHEMA = "default"
AUDIT_TARGET_TABLE = "mlops_{{project}}_audit_tbl"
MODEL_CATALOG = ""
MODEL_SCHEMA = ""
MODEL_CATALOG_SCHEMA = ""