from databricks.feature_store import FeatureStoreClient
from loguru import logger
import mlflow

def feature_table_exists(fs, table_name):
    try:
        fs.get_table(table_name)
        return True
    except Exception:
        return False


def fetch_latest_feature_version(spark, table_name):
    history_df = spark.sql(f"DESCRIBE HISTORY {table_name}")
    return (
        history_df
        .orderBy("version", ascending=False)
        .limit(1)
        .select("version")
        .collect()[0]
        .version
    )


def create_or_update_feature_data(spark, full_table_name, primary_key, spark_df):
    fs = FeatureStoreClient()

    if not feature_table_exists(fs, full_table_name):
        fs.create_table(
            name=full_table_name,
            primary_keys=[primary_key],
            df=spark_df,
        )
    else:
        fs.write_table(
            name=full_table_name,
            df=spark_df,
            mode="merge"
        )
    
    feature_version = fetch_latest_feature_version(spark=spark, table_name=full_table_name)
    logger.info(f"Feature data created/updated successfully. Feature version is {feature_version}")
    
    return full_table_name, feature_version


def get_data_feature_version(experiment_id, run_name):
    filter_query = f"tags.mlflow.runName = '{run_name}'"

    runs_df = mlflow.search_runs(
        experiment_ids=[experiment_id],
        filter_string=filter_query,
        order_by=["start_time DESC"],
        max_results=1,
    )

    if runs_df.empty:
        logger.warning(f"No such `run_name` - {run_name} found.")
        raise ValueError(f"Run '{run_name}' not found in experiment {experiment_id}")

    run = runs_df.iloc[0]

    params_dict = {
        col.replace("params.", ""): val
        for col, val in run.items()
        if col.startswith("params.")
    }

    if "feature_version" not in params_dict:
        raise KeyError(
            f"`feature_version` param not found in run '{run_name}'"
        )

    return params_dict["feature_version"]
