import requests

from loguru import logger

def send_gchat_failure(webhook_url, environment, project, task, job_name, error_message, run_url):
    
    if webhook_url is None:
        logger.warning("No webhook URL provided, skipping Google Chat notification")
        return
    
    payload = {
        "cardsV2": [
            {
                "cardId": "error_failure",
                "card": {
                    "header": {
                        "title": "🚨 Databricks Job Failed",
                        "subtitle": f"Environment: {environment}"
                    },
                    "sections": [
                        {
                            "widgets": [
                                {
                                    "textParagraph": {
                                        "text": f"<b>Project:</b> {project}<br>"
                                                f"\n<b>Task:</b> {task}<br>"
                                                f"\n<b>Job:</b> {job_name}<br>"
                                                f"\n<b>Error:</b> {error_message}"
                                    }
                                }
                            ]
                        },
                        {
                            "widgets": [
                                {
                                    "buttonList": {
                                        "buttons": [
                                            {
                                                "text": "Open Run",
                                                "onClick": {
                                                    "openLink": {"url": run_url}
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }

    response = requests.post(webhook_url, json=payload, timeout=10)
    response.raise_for_status()

    logger.info("🚨 Google Chat failure alert sent successfully")

def send_gchat_inference_success(webhook_url, environment, project, models, job_name, run_url, experiment_url=None):

    if webhook_url is None:
        logger.warning("No webhook URL provided, skipping Google Chat notification")
        return
    
    models_bullets = "".join(f"• <i>{model} → {version}</i><br>" for model, version in models.items())
    buttons = [
        {
            "text": "Open Run",
            "onClick": {
                "openLink": {
                    "url": run_url
                }
            }
        }
    ]
    if experiment_url:
        buttons.append(
            {
                "text": "Open Experiment",
                "onClick": {
                    "openLink": {
                        "url": experiment_url
                    }
                }
            }
        )

    payload = {
        "cardsV2": [
            {
                "cardId": "inference_success",
                "card": {
                    "header": {
                        "title": "✅ Inference Job Succeeded",
                        "subtitle": f"Environment: {environment}"
                    },
                    "sections": [
                        {
                            "widgets": [
                                {
                                    "textParagraph": {
                                        "text": f"<b>Project:</b> {project}<br>"
                                                f"\n<b>Models Used:</b><br>"
                                                f"{models_bullets}"
                                                f"\n<b>Job:</b> {job_name}<br>"
                                                f"\n<b>Status:</b> SUCCESS"
                                    }
                                }
                            ]
                        },
                        {
                            "widgets": [
                                {
                                    "buttonList": {
                                        "buttons": buttons
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }

    response = requests.post(webhook_url, json=payload, timeout=10)
    response.raise_for_status()

    logger.info("✅ Google Chat inference success alert sent successfully")

def send_gchat_training_success(webhook_url, environment, project, models, job_name, run_url, experiment_url=None):

    if webhook_url is None:
        logger.warning("No webhook URL provided, skipping Google Chat notification")
        return

    models_bullets = "".join(f"• <i>{model} → {version}</i><br>" for model, version in models.items())
    buttons = [
        {
            "text": "Open Run",
            "onClick": {
                "openLink": {
                    "url": run_url
                }
            }
        }
    ]
    if experiment_url:
        buttons.append(
            {
                "text": "Open Experiment",
                "onClick": {
                    "openLink": {
                        "url": experiment_url
                    }
                }
            }
        )

    payload = {
        "cardsV2": [
            {
                "cardId": "training_success",
                "card": {
                    "header": {
                        "title": "✅ Training Job Succeeded",
                        "subtitle": f"Environment: {environment}"
                    },
                    "sections": [
                        {
                            "widgets": [
                                {
                                    "textParagraph": {
                                        "text": f"<b>Project:</b> {project}<br>"
                                                f"\n<b>Models Registered:</b><br>"
                                                f"{models_bullets}"
                                                f"\n<b>Job:</b> {job_name}<br>"
                                                f"\n<b>Status:</b> SUCCESS"
                                    }
                                }
                            ]
                        },
                        {
                            "widgets": [
                                {
                                    "buttonList": {
                                        "buttons": buttons
                                    }
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }

    response = requests.post(webhook_url, json=payload, timeout=10)
    response.raise_for_status()

    logger.info("✅ Google Chat training success alert sent successfully")