import argparse
import importlib
import mlflow
import os
import joblib
import pandas as pd

from datetime import datetime
from pathlib import Path

from loguru import logger
from pyspark.sql import SparkSession
from pyspark.dbutils import DBUtils
from mlflow.tracking import MlflowClient

from {{ project }}.common.utils.feature_utils import create_or_update_feature_data
from {{ project }}.common.utils.config_utils import (
    load_project_config, 
    load_task_config
)
from {{ project }}.common.utils.audit_utils import write_to_audit_table


def load_class(class_path: str):
    module_path, class_name = class_path.split(":")
    module = importlib.import_module(module_path)
    return getattr(module, class_name)


def load_data_from_file(spark, file_path):
    logger.info(f"Loading data from file: {file_path}")
    df = pd.read_csv(file_path, sep=',')
    return df


def log_params_with_prefix(params: dict, prefix: str):
    mlflow.log_params({
        f"{prefix}.{k}": v
        for k, v in params.items()
        if v is not None
    })


def get_model_feature_pipeline(model_registry_name, pipeline_file, local_path):
    client = MlflowClient()
    
    model_versions = client.search_model_versions(f"name='{model_registry_name}'")
    latest_version = max(model_versions, key=lambda x: int(x.version))
    
    model_version = client.get_model_version(
        name=model_registry_name,
        version=f"{latest_version.version}"
    )
    run_id = model_version.run_id
    
    artifacts = client.list_artifacts(run_id=run_id, path="model/featurization")
    for a in artifacts:
        apath = a.path
        file = apath.split('/')[-1]
        if file == pipeline_file:
            client.download_artifacts(
                run_id=run_id,
                path=apath,
                dst_path=local_path
            )
            logger.info(f"Artifact saved in - `{local_path}`")
            return local_path


def main(spark):
    parser = argparse.ArgumentParser()

    parser.add_argument("--root_path", required=True)
    parser.add_argument("--runtime_env", required=True)
    parser.add_argument("--yml_task", required=True)
    parser.add_argument("--project_name", required=True)
    parser.add_argument("--model_name", required=True)
    parser.add_argument("--stage_name", required=True)
    parser.add_argument("--task_key", required=True)
    parser.add_argument("--task_run_id", required=True)
    parser.add_argument("--job_name", required=True)
    parser.add_argument("--job_id", required=True)
    parser.add_argument("--job_run_id", required=True)
    parser.add_argument("--experiment_id", required=True)

    args = parser.parse_args()
    root_path = args.root_path
    runtime_env = args.runtime_env.lower()
    yml_task = args.yml_task
    project_name = args.project_name
    model_name = args.model_name
    stage_name = args.stage_name
    task_key = args.task_key
    task_run_id = args.task_run_id
    job_name = args.job_name
    job_id = args.job_id
    job_run_id = args.job_run_id
    experiment_id = args.experiment_id

    env_context = load_project_config(
        project_name=project_name,
        env_name=runtime_env,
    )

    task_config = load_task_config(
        project_name=project_name,
        model_name=model_name,
        stage_name=stage_name,
        env_context=env_context,
        which_file=yml_task,
    )

    placeholder_audit_table = f"hive_metastore.default.mlops_{project_name}_audit_tbl"
    audit_table = task_config.get("audit_table", placeholder_audit_table)
    if audit_table.startswith("."):
        logger.warning("`AUDIT_TARGET_CATALOG` is not specified in `config.toml`.")
        logger.info("Saving the audit details in `hive_metastore`.")
        audit_table = placeholder_audit_table
    
    model_registry_name = task_config["model_registry_name"]

    with mlflow.start_run(
        run_name="data_featurization",
        experiment_id=experiment_id,
        nested=True
    ):
        actions_config = task_config.get("actions", [])
        for action in actions_config:
            if not action.get("enable", True):
                continue

            action_name = action["name"]
            func_conf = action["functions"]
            process_name = func_conf["kwargs"]["process_name"]

            logger.info(f"Starting action: {action_name}")

            start_time = datetime.now()
            run_status = ""
            error_details = ""

            with mlflow.start_run(
                run_name=action_name,
                experiment_id=experiment_id,
                nested=True
            ):
                try:
                    cls = load_class(func_conf["class_path"])
                    func_kwargs = func_conf["kwargs"]
                    
                    # Source logging
                    source_type = func_kwargs.get("source_data_type")
                    mlflow.log_param(
                        key="source_data_type",
                        value=source_type,
                    )
                    if source_type == "databricks_table":
                        source_table_name = func_kwargs["inputs"]["databricks_table"]
                        mlflow.log_param(
                            key=source_type,
                            value=source_table_name,
                        )
                    else:
                        # file
                        source_info = func_kwargs["inputs"]["file"]
                        input_path = os.path.join(
                            root_path, stage_name, source_info["data"].lstrip("/")
                        )
                        df = load_data_from_file(spark=spark, file_path=input_path)
                        log_params_with_prefix(params=source_info, prefix="source.file")
                    
                    # Target logging
                    target_type = func_kwargs.get("target_data_type")
                    mlflow.log_param(
                        key="target_data_type",
                        value=target_type,
                    )
                    if target_type == "databricks_table":
                        mlflow.log_param(
                            key="target",
                            value=func_kwargs["outputs"]["databricks_table"],
                        )
                    else:
                        # file
                        target_info = func_kwargs["outputs"]["file"]
                        log_params_with_prefix(params=target_info, prefix="target.file")

                    # Prepare features for inference
                    if target_type == "file":
                        # TODO: output should always be csv, but we can extend this later
                        base_output_dir = os.path.join(root_path, stage_name)
                        base_output_dir = Path(base_output_dir)

                        pipeline_output_dir = "/".join(
                            target_info["pipeline"].split("/")[:-1]
                        ).lstrip("/")
                        pl_output_path = base_output_dir / pipeline_output_dir
                        pl_output_path.mkdir(parents=True, exist_ok=True)
                        get_model_feature_pipeline(
                            model_registry_name=model_registry_name,
                            pipeline_file=source_info["pipeline"],
                            local_path=pl_output_path
                        )
                        # Load the features from pkl
                        feature_pipeline_path = pl_output_path / source_info["pipeline"]
                        feature_pipeline = joblib.load(feature_pipeline_path)
                        # Transform the data
                        output_df = feature_pipeline.transform(df=df)
                        mlflow.log_param(key=f"target_pipeline_path", value=feature_pipeline_path)
                        mlflow.log_artifact(
                            local_path=feature_pipeline_path, artifact_path="featurization"
                        )

                        file_output_dir = "/".join(target_info["data"].split("/")[:-1]).lstrip("/")
                        output_path = base_output_dir / file_output_dir
                        output_path.mkdir(parents=True, exist_ok=True)
                        features_data_path = base_output_dir / target_info["data"].lstrip("/")
                        logger.info(f"Writing data output to {output_path}")
                        mlflow.log_param(key=f"target_file_path", value=features_data_path)
                        output_df.to_csv(features_data_path, index=False)

                        ## write as feature store
                        spark_df = spark.createDataFrame(output_df)
                        feature_info = func_kwargs["outputs"]["databricks_table"]
                        full_table_name = feature_info["feature_store"]
                        primary_key = feature_info["primary_key"]
                        feature_store_table, feature_version = create_or_update_feature_data(
                            spark=spark,
                            full_table_name=full_table_name,
                            primary_key=primary_key,
                            spark_df=spark_df
                        )
                        mlflow.log_param(key="feature_version", value=feature_version)
                        mlflow.log_param(key="feature_store_table", value=feature_store_table)
                
                    run_status = "SUCCESS"
                except Exception as e:
                    run_status = "FAILED"
                    error_details = str(e)
                    logger.error(f"Action failed: {action_name}")
                    raise

                finally:
                    end_time = datetime.now()
                    duration_minutes = round((end_time - start_time).total_seconds() / 60, 2)

                    mlflow.log_metric("duration_minutes", duration_minutes)
                    mlflow.set_tag("run_status", run_status)

                    audit_metrics = dict(
                        project_name=project_name,
                        model_name=model_name,
                        stage_name=stage_name,
                        task_name=task_key,
                        process_name=process_name,
                        task_run_id=task_run_id,
                        job_name=job_name,
                        job_id=job_id,
                        job_run_id=job_run_id,
                        run_status=run_status,
                        start_time=str(start_time),
                        end_time=str(end_time),
                        duration_mins=str(duration_minutes),
                        error_details=error_details
                    )
                    logger.info(
                        f"Action {action_name} finished | Status={run_status} | Duration={duration_minutes} min"
                    )
                    write_to_audit_table(spark, audit_metrics, func_conf, audit_table)

    logger.success("Data Featurization completed successfully.")
    return experiment_id


if __name__ == "__main__":
    spark = SparkSession.builder.getOrCreate()
    dbutils = DBUtils(spark)
    
    experiment_id = main(spark=spark)
    dbutils.jobs.taskValues.set(key="experiment_id", value=experiment_id)
